
@{
	ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
	<h4>404 Not Found Error: </h4>
	<hr />
	<h5>
		Manager not found.
	</h5>
</div>

<a asp-controller="Stadium" asp-action="AllStadiums" class="btn btn-outline-success">
	Please go back and finish your Manager setup
</a>