@model DeletePlayerViewModel
@{
    ViewBag.Title = "Remove Player from the Market";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">@Model.Name</h3>
                <p class="text-danger mt-3">"Are you sure you want to remove the player?"</p>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteConfirmed" method="post">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">Confirm Remove</button>
                    <a asp-action="AllSearch" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>