@model IEnumerable<AllTeamsViewModels>
@{
    ViewBag.Title = "Great. You have successfully created your team. Now its time to create your Manager";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">

    @foreach (var e in Model)
    {
            
                <div class="card col-4" style="width: 20rem; ">
                    <div class="card-body">
                        <h4 class="card-title mt-1">@e.Name</h4>
                            <img class="d-block w-100" style="height:300px"
                 src="@e.ImageUrl">
                    </div>
                    <form asp-action="ChooseTeam" method="post">
                                <a asp-controller="Manager" asp-action="CreateManager" asp-route-id="@e.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Create Manager</a>
                    </form>
                </div>
        
    }
</div>

@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}
