@{
    ViewData["Title"] = "Manager Page";
}

<div class="text-center">
    <h1 class="display-4">Manager Sucessfully created</h1>
    <p>Please now Choose a League --> <a asp-controller="League" asp-action="ChooseLeague"></a></p>
</div>
