
@{
	ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
	<h4>404 Not Found Error: </h4>
	<hr />
	<h5>
		Player already exist on the market
	</h5>
</div>

<a asp-controller="Player" asp-action="AllPlayer" class="btn btn-outline-success">
	Please go back and choose another one
</a>